<div class="page-header">
  <h1><%= @product.name %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong>Price</strong></dt>
  <dd><%= number_to_currency(@product.price) %></dd>
  <dt><strong>Description</strong></dt>
  <dd><%= @product.description %></dd>
  <% if @product.parent %>
    <dt><strong>Parent</strong></dt>
    <dd><%= @product.parent.name %></dd>
  <% end %>
</dl>

<%= link_to "Back", products_path, class: 'btn btn-default'  %>

<% if user_signed_in? %>
  <%= link_to "Edit", edit_product_path(@product), class: 'btn btn-default' %>
  <%= link_to "Delete", product_path(@product), method: 'delete', data: { :confirm => "Are you sure?" }, class: 'btn btn-danger' %>
<% end %>

<hr>

<h3>Pictures</h3>

<%= render "pictures/show", picturable_type: "Product", picturable_id: @product.id, pictures: @product.pictures %>

<hr>

<h3>Comments</h3>

<%= form_for Comment.new, remote: true do |f| %>
  <%= f.hidden_field :product_id, value: @product.id %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.text_area :description, cols: 100, rows: 5, class: "form-control" %>
  <br/>
  <%= f.submit "Add", class: "btn btn-xs btn-primary" %>
<% end %>

<br/>
<br/>

<div id="comments_section">
  <% @product.comments.each do |comment| %>
    <%= render 'comments/detail', comment: comment %>
    
  <% end %>
</div>
